<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.md2k.datakit">
    <application>
        <service
            android:name=".ServiceDataKit"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.md2k.datakit.server" />
            </intent-filter>

        </service>

    </application>

</manifest>
